option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoelastic.settings"
    "PYTHONPATH": "/opt/python/current/app/djangoelastic:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangoelastic/djangoelastic/wsgi.py
    NumProcesses: 3
    NumThreads: 20
